---

---

<footer>
  <div class="container-footers">
    <div class="footerKiri">
      <a href="/" class="gambarFooter">
        <img src="/assets/logo.png" alt="" />
      </a>
      <div class="teksFooter">
        <div class="judulFooter">
          MATA AIR <br /> SENJOYO
        </div>
        <div class="anakFooter">
          Cebongan, Tegalwaton, Kec. <br />
          Tengaran, Kabupaten Semarang, <br /> Jawa Tengah 50775
        </div>
      </div>
    </div>
    <div class="copyFooter">© 2024 Layanan Tiket Online Mata Air Senjoyo.</div>
  </div>
</footer>

<style>

    img{
        height: 120px;
        width: auto;
    }
  .container-footers {
    /* position: absolute;
  bottom: 0;
  left: 0; */
    background-color: #5b5b5b;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0px;
    color: white;

    .judulFooter {
      font-weight: 600;
    }

    .footerKiri {
      display: flex;
      /* color: white; */
    }
    .copyFooter {
      /* position: absolute;
    right: 2%;
    top: 75%; */
      display: flex;
      align-items: center;
      margin-right: 20px;
      /* color:white; */
    }
  }
</style>
